*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
  display: grid;
  place-items: center;
}

.calculator-grid {
  display: grid;
  margin-top: 2rem;
  grid: 0.1rem;
  width: fit-content;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid rgb(71, 68, 68);
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
  background-color: rgb(20, 19, 19);
  box-shadow: rgba(38, 37, 37, 0.56) 0px 22px 70px 4px, rgba(34, 33, 33, 0.56) 0px 22px 70px 4px, rgba(53, 52, 52, 0.56) 0px 22px 70px 4px, rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border-radius: 20px;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.25) 10px 19px 28px, rgba(0, 0, 0, 0.22) 20px 18px 19px;
}

button {
  background-color: rgba(58, 55, 55, 0.75);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  margin: 0.3rem;
  color: whitesmoke;
}

button:hover{
  background-color: rgba(49, 46, 46, 0.7);
}

.calculator-grid > button:focus {
  background-color: rgba(22, 21, 21, 0.7);
  border: 1px solid rgb(131, 129, 129);
}

.span-two {
  margin: 0.3rem;
  grid-column: span 2;
  color: rgb(238, 122, 6);
  background-color: rgb(47, 43, 43);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .65);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: .75rem;
  word-wrap: break-word;
  word-break: break-all;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}



.output .current-operand {
  color: white;
  font-size: 1.8rem;
}

.op,
.op1 {
  margin: 0.3rem;
  background-color: rgb(32, 30, 30);
  color: whitesmoke;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.op:hover,
.op1:hover {
  background-color: rgb(25, 23, 23);
}

#AC {
  color: orange;
}
.op1 {
  color: orange
}